<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommendations</title>

    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   
    <style>


        #confirmEnter {
            pointer-events: auto;
            opacity: 1;
            z-index: 1;
            display: inline-block;
        }
 
        .header {
            padding: 5px 5px;
            display: flex; 
            justify-content: space-between; 
            align-items: stretch; 
            border-bottom: 1px solid #cccccc85; 
            flex-direction: column; 
            flex-wrap: nowrap;
        }


        .container-content {
            padding: 20px;
            max-width: 1200px;
            margin: 0 auto;
        }

        .slick-carousel {
            display: flex;
            justify-content: flex-start;
            padding: 15px 0;
        }

        .slick-next:before  {
            color: gray!important;
            font-size: 2rem!important;
        }

        .slick-prev:before {
            color: gray!important;
            font-size: 2rem!important;
        }


        .slick-dots {
            text-align: center;
            margin-top: 20px;
        }

        .slick-dots li button:before {
            font-size: 12px;
            color: #333;
        }

        .slick-dots li.slick-active button:before {
            color: #000;
        }

        .movie-item {
            text-align: center;
            margin: 0 10px;
            transition: transform 0.3s;
            min-height: 325px;
            max-height: 325px;

        }

        .movie-title{
            overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
        }

        .movie-item img:hover {
            transform: scale(1.05);
        }
    </style>
</head>

<body id="main">
    <header class="header container sticky-top">
        <div class="row" style="flex-wrap: nowrap;">
            <div class="d-flex col-6 p-2 m-1 bg-primary text-white rounded header-left" style="flex-direction:column; justify-content: center; ">
                <p class="small my-1">Current Round <span id="currentround"> ... </span>/10</p>
                <p class="my-1 fs-4" id="phase-name"> Browsing </p>
                <span class="small fw-ligh" id="currenttask"> ... </span>
            </div>
            <div class=" d-flex col-6 p-2 m-1 bg-secondary text-white rounded header-right" style="flex-direction:column; justify-content: center; ">
                <p class="small my-1" >Remaining time in this round</p>
                <p class="my-1 fs-4" id="time-remaining">20 seconds</p>
                <a id="opneInstruction" class="opneInstruction link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover text-end text-light small py-2" role="button">Open instructions page</a>
            </div>
        </div>
    </header>

    <!-- Modal intro -->
    <div class="modal fade" id="intro" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <!-- Task Title -->
                        <div class="text-center mb-4">
                            <h4>🎬 Movie Selection Task 🎬</h4>
                            <p class="text-muted small">Follow the instructions below to complete the task and have a chance to win a movie on your streaming service! (~8.00$ USD)</p>
                            <p class="text-dark fs-6 bg-warning rounded p-2 m-2 text-start ">To complete this study, please use a <strong class="text-danger">Computer</strong> with <strong class="text-danger">Google Chrome</strong> or <strong class="text-danger">Opera</strong> web browser. Other browsers, like Safari and Firefox, won’t work. </p>
                        </div>
    
                        <!-- Overview Section -->
                        <div class="row mb-4">
                            <div class="col-12">
                                <h5>Overview</h5>
                                <p class="m-1">This task consists of 10 rounds, each divided into two phases: <strong>Browsing</strong> and <strong>Decision</strong>. In each round, you'll be presented with a set of movies. Your goal is to select the movie (Click on green "Select this movie" button when it appears) you want the most in each round.</p>
                            </div>
                        </div>
    
                        <!-- Phases Description with Images -->
                        <div class="row text-center mb-4">
                            <!-- Browsing Phase -->
                            <div class="col-md-6">
                                <div class="card p-2 ">
                                    
                                    <h5 class="text-primary">Browsing Phase</h5>
                                    <img src="http://54.219.255.236/static/assets/decide.png" alt="Decision Phase" class="img-fluid rounded">
                                    <p class="m-1 text-start">You have <strong>20 seconds</strong> to browse the list of movies and check out their details.</p>  
                                </div>
                            </div>
    
                            <!-- Decision Phase -->
                            <div class="col-md-6">
                                <div class="card p-2 shadow-sm">
                                    
                                    <h5 class="text-danger">Decision Phase</h5>
                                    <img src="http://54.219.255.236/static/assets/browse.png" alt="Browsing Phase" class="img-fluid rounded">
                                    <p class="m-1 text-start">After browsing, you have <strong>10 seconds</strong> to select the movie you want the most.</p>
                                    
                                </div>
                            </div>
                        </div>
    
                        <!-- Task Duration -->

                        <div class="row mb-4">
                            <div class="col-12">
                                <h5>Task Duration</h5>
                                <p class="m-1">The entire task takes approximately <strong>5-6 minutes</strong> to complete. You will be guided through the experiment step by step.</p>
                            </div>
                        </div>

    
                        <!-- Rewards -->
                        <div class="row">
                            <div class="col-12">
                                <h5>Rewards</h5>
                                <p class="m-1">Your selections influence your chances of winning. Regardless of the outcome, you will receive a code at the end to ensure you're compensated for your time. Please make sure to stay until the end.</p>
                            </div>
                        </div>

                        <div class="row p-2 m-2 bg-light bg-gradient rounded border border-secondary">
                            <form>
                                <div class="form-check form-switch">
                                    <input id="confirmEnter" name="confirm_enter" class="form-check-input consent" type="checkbox">
                                    <label class="form-check-label" for="confirmEnter"><small>I understand the task and agree to the 
                                            <a id="participant_agreement" href="http://54.193.217.145/iui2024/assets/consent.pdf" target="_blank"><abbr
                                                    title="click for complete terms and conditions">Participation Agreement</abbr>.</a></small> </label>
                                </div>
                            </form>
                        </div>



                    </div>


                </div>
                <div class="modal-footer">
                    <button id="start" name="start_experiment" type="button" class="startExperiment btn btn-success">Start Now</button>
                </div>
            </div>
        </div>
    </div>    


<!-- Modal Template -->
<div class="modal fade" id="dynamicModal" tabindex="-1" aria-labelledby="dynamicModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dynamicModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="dynamicModalBody" class="modal-body">
                Modal content goes here...
            </div>
            <div class="modal-footer">
                <button id="DynamicModalButton" type="button" class="DynamicModalClose btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Carousel From here -->
{% if recommendation_type == 'carousel' %}
    <div id="recoms" class="container my-4">
        {% for genre, genre_movies in recommendations.items() %}
        {% set outer_loop = loop %}  <!-- Move this line inside the main loop -->
        <h2 class="carouselHeader mt-4 mb-0">{{ genre }} Movies</h2>
        <hr class="my-0 py-0 w-100 mx-auto">
        <div class="slick-carousel" data-row-position="{{ outer_loop.index0 }}">
            {% for movie in genre_movies %}
            <div class="movie-item" data-movie-id="{{ movie.movieId }}" data-col-position="{{ loop.index0 }}" data-row-position="{{ outer_loop.index0 }}" data-genre="{{ movie.genres }}">
                <form action="{{ url_for('click') }}" method="POST" class="text-center">
                    <input type="hidden" name="movieId" value="{{ movie.movieId }}">
                    <div style="max-inline-size: fit-content;">
                        <img src="{{ movie.Poster }}" alt="{{ movie.Title }}"
                            class="carousel_image img-fluid rounded mx-auto w-100" style="width:150px!important; height:225px; object-fit: cover; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
                        <p class="mx-auto w-75 mt-1 movie-title">{{ movie.Title }}</p>
                        <button id="selectthismovie" type="submit" class="selectthismovie btn btn-sm btn-success btn-select d-none">Select this movie</button>

                        <button type="button" class="AskpopoverCarousel btn btn-sm btn-outline-secondary btn-more d-none"
                            data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top"
                            title="Movie Information"
                            data-bs-content="Rating: {{ movie.imdbRating }}/10<br>Genres: {{ movie.genres }}<br>Year: {{ movie.Year }}">
                            Show Movie Info
                        </button>
                    </div>
                </form>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
<!-- To here -->

    <!-- List From here -->
{% elif recommendation_type == 'list' %}
<div class="container my-4">
    <div class="row row-cols-1 g-4">
        {% for movie in recommendations %}
        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="row g-0">
                    <div class="col-md-2">
                        <img src="{{ movie.Poster }}" alt="{{ movie.Title }} Poster" class="list_image img-fluid rounded-start" style="object-fit: cover; width:125px!important;">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body d-flex flex-column justify-content-between" data-row-position="{{ loop.index0 }}">
                            <div>
                               
                                <h5 class="list_movie_title card-title">{{ movie.Title }}</h5>
                                
                                <p class="card-text mt-2">{{ movie.description|truncate(100) }}</p>
                            </div>
                            <div class="movie-item" data-movie-id="{{ movie.movieId }}" data-col-position="{{ loop.index0 }}" data-row-position="n/a" data-genre="{{ movie.genres }}" style="min-height:auto!important; text-align:left!important;" >
                            <form action="{{ url_for('click') }}" method="POST" class="mt-3">
                                <input type="hidden" name="movieId" value="{{ movie.movieId }}">
                                <button type="submit" class="btn btn-sm btn-success btn-select d-none">Select this movie</button>
                                <button type="button" class="AskpopoverList btn btn-sm btn-outline-secondary btn-more d-none"
    data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right"
    title="Movie Information"
    data-bs-content="Rating: {{ movie.imdbRating }}/10<br>Genres: {{ movie.genres }}<br>Year: {{ movie.Year }}">
    Show Movie Info
</button>
                            </form>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
    <!-- To here -->

</div>

    <!-- Hidden form for next iteration -->
    <form id="next-iteration-form" action="{{ url_for('click') }}" method="POST" style="display: none;">
        <input type="hidden" name="phase" value="end_of_decision">
    </form>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

    <!-- Interaction Logging Script -->
    <script>

        $(window).on('load', function() {
            if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                window.location.href = "http://54.193.217.145/iui2024/mobile.html";
            }
           });
        
        // Function to show a modal with dynamic content
const showModal = (title, content, className, dismissible, button_text='Ok') => {
    // Update modal title and content
    $('#dynamicModalLabel').text(title);
    $('#dynamicModalBody').html(content);
    // Apply the class to the modal (if specified)
    if (className) {
        $('#dynamicModal .modal-header').removeClass().addClass('modal-header').addClass(className);
    }

    // Configure dismiss behavior
    if (dismissible) {
        $('#dynamicModal').modal({ backdrop: true, keyboard: true });
    } else {
        $('#dynamicModal').modal({ backdrop: 'static', keyboard: false });
    }

    if(button_text != 'Ok'){
        $('#dynamicModal').text(button_text);
    }

    // Show the modal
    $('#dynamicModal').modal('show');
};

        // Initialize variables using Flask context
        let iteration = {{iteration}};
        let sessionStartTime = new Date().toISOString();
        //let interactionLog = [];

        // Initialize interactionLog if it doesn't already exist
        if (!localStorage.getItem('interactionLog')) {
            localStorage.setItem('interactionLog', JSON.stringify([]));  // Initialize as an empty array
        }

        // Retrieve the interactionLog from localStorage
        let interactionLog = JSON.parse(localStorage.getItem('interactionLog')) || [];

        // Function to log events and update localStorage
        const logEvent = (eventType, eventDetails) => {
            const event = {
                eventType: eventType,
                timestamp: new Date().toISOString(),
                details: eventDetails
            };
            localStorage.setItem('interactionLog', JSON.stringify(interactionLog));
            interactionLog.push(event);
        };


        $(document).ready(function () {

                // Initialize all popovers
    $('[data-bs-toggle="popover"]').popover({
        html: true // Enable HTML inside popover content (for line breaks)
    });    
            $('.slick-carousel').slick({
                infinite: true,
                slidesToShow: 5,
                slidesToScroll: 3,
                dots: true,
                arrows: true,
                draggable: false
            });

           // let recommendations = {{recommendations | tojson}};

           var timer;

           $(document).mousemove(function() {
            clearTimeout(timer);
            timer = setTimeout(function() {
              showModal("Please complete the task","You have been inactive for 5 seconds. Please interact with the recommendations. Click 'Close' to continue.","bg-danger text-white inactive",false);
            }, 5000); // 5000 milliseconds = 5 seconds
          });



                // Update the phase and display every second
intloop = setInterval(() => {
    if (!isTimerPaused) {  // Only update if the timer is not paused
        updatePhase();
        updatePhaseDisplay();
    }
}, 1000);
         
        });


        $("#opneInstruction").on("click", function () {
        $("#intro").modal('show');
        });

        $("#start").on("click", function () {
            if ($('#confirmEnter').is(':checked')) {
                $('#intro').modal('hide');
            } else {
                $('#confirmEnter').css('border-color', 'red');
                $('#confirmEnter').focus();
            }
        });


   document.getElementById('intro').addEventListener('click', function(event) {
        event.stopPropagation();  // Prevents this checkbox from triggering other actions

    });

        // Combined event listener for click logging and phase management
        document.addEventListener('click', (e) => {
            let orig_target_id = e.target.id; 
            let orig_target_className = e.target.className
            let target = e.target.closest('.movie-item');

            //console.log('Click detected', target);  // Log when a click is detected

            let movieId = 'not_set';
            let col_position = 0;
            let row_position = 0;
            let genre = 'not_set';
            let selected_item = false;
            let list_position = 0;
            click_on_movie = false;


            if (phase === 'browsing') {
                e.preventDefault();
                console.log('Click blocked during browsing phase');
                currentphase = 'browsing'


            } else {
                currentphase = 'deciding';
            }

            if (target) {
                movieId = target.getAttribute('data-movie-id');
                col_position = target.getAttribute('data-col-position');
                row_position = target.getAttribute('data-row-position');
                list_position = target.getAttribute('data-position');
                genre = target.getAttribute('data-genre');
                click_on_movie = true;

                //console.log('Movie clicked:', movieId, col_position, row_position, genre);
            }
            // Log the click event
            logEvent('click', {
                movieId: movieId,
                col_position: col_position,
                row_position: row_position,
                genre: genre,
                x: e.clientX,
                y: e.clientY,
                click_on_movie: click_on_movie,
                orig_target_id: orig_target_id,
                orig_target_className: orig_target_className
            });

            const data = {
                user_id: {{user_id}},
            interactions: interactionLog,
            session_parameters: {{current_parameters | tojson }},
            start_time: sessionStartTime,
            end_time: new Date().toISOString()
                };

                if(orig_target_id == 'selectthismovie'){
                    //alert("submitting data");
                    localStorage.setItem('welcome', 'false');
                    //sendData();
                }
        sendData();  

        });

        // Mouse Movement Logging Script
        let mouseLoggingEnabled = {{current_parameters.mouse_logging | tojson }};
        let mouseLoggingFrequency = parseInt({{current_parameters.mouse_logging_freq}});

        if (mouseLoggingEnabled) {
            let lastMouseX = 0;
            let lastMouseY = 0;

            document.addEventListener('mousemove', (e) => {
                lastMouseX = e.clientX;
                lastMouseY = e.clientY;
            });

            document.addEventListener('scroll', () => logEvent('scroll', {scrollX: window.scrollX, scrollY: window.scrollY}));
            document.addEventListener('keydown', (e) => logEvent('keydown', {key: e.key}));

            setInterval(() => {
                logEvent('mousemove', {x: lastMouseX, y: lastMouseY});
            }, mouseLoggingFrequency);
        }

       // Phase Management Script
phase = 'browsing'; // 'browsing' or 'decision'
let phaseStartTime = new Date();
let phaseDuration = 20000; // 20 seconds for browsing
let isTimerPaused = false;
let pauseStartTime = null; // Time when the modal is opened
let totalPauseDuration = 0; // Total time spent while modal is open
localStorage.setItem('welcome', 'false');
// Function to update the phase
const updatePhase = () => {
    
    let elapsedTime = new Date() - phaseStartTime - totalPauseDuration; // Subtract total pause duration
if (phase === 'browsing'){

 let welcome = localStorage.getItem('welcome');


    if(iteration > 1 &&  welcome == 'false'){
        showModal('Submitted', 'Thank you for submitting your choice! <br> When you\’re ready, click \'Close\' to start browsing movies for round '+{{iteration}}+'.' , 'bg-success text-white', true);
        localStorage.setItem('welcome', 'true');
    }
            // Initialize interactionLog if it doesn't already exist
            if (!localStorage.getItem('consent_confirm')) {
                localStorage.setItem('consent_confirm', 'false');  // Initialize as an empty array
            }
    
            // Retrieve the interactionLog from localStorage
            let consent = localStorage.getItem('consent_confirm');

    if(consent == 'false'){      

        $('#intro').modal('show');
        phaseStartTime =  new Date();
        localStorage.setItem('consent_confirm','true');
    }

    $('.btn-more').removeClass('d-none');
    $('.btn-select').hide();
    $('.btn-more').show();

    
}else{
    $('.btn-select').removeClass('d-none');
    $('.btn-select').show();
    $('.btn-more').hide();

}

if (phase === 'browsing' && elapsedTime >= 20000) {
        // Switch to decision phase
        phase = 'decision';
        phaseStartTime = new Date(); // Reset start time
        totalPauseDuration = 0; // Reset pause duration
        phaseDuration = 10000; // 10 seconds for decision

        // Show a modal indicating entering decision phase
        showModal('Time\'s up', 'You are now in the decision-making phase. Please choose the movie you want most (click on green "Select this movie" button) within the next 10 seconds.', 'bg-success text-white', true);
        $("html, body").animate({scrollTop: 0}, 500);
    } else if (phase === 'decision' && elapsedTime >= 10000) {
        // Decision phase over
        if (iteration <= 10) {  
            //showModal('Time\'s up', 'You are entering the decision phase. Please select the movie you want the most within in next 10 seconds.', 'bg-success text-white', false);
            let userConfirmed = confirm('Hey there! Let\'s make sure we\'re on the same page. When it\'s time to choose a movie, please remember to click on the "Select this movie\" button under the movie you want right away. This helps us keep things moving smoothly. If you miss too many selections, it might affect your HIT. If you\'re finding this process too frustrating, feel free to leave.');
            if(userConfirmed){
                phase = 'browsing';
                sendData();
                document.getElementById('next-iteration-form').submit();
                return;
            }else{
                location.reload();
            }
        }
    }
};

// Function to update the phase display
const updatePhaseDisplay = () => {
    let elapsedTime = new Date() - phaseStartTime - totalPauseDuration; // Subtract total pause duration
    let timeRemaining = Math.ceil((phaseDuration - elapsedTime) / 1000);

    // Get references to elements
    const currenttask = document.getElementById('currenttask');
    const currentround = document.getElementById('currentround');
    const phaseNameElement = document.getElementById('phase-name');
    const timeRemainingElement = document.getElementById('time-remaining');

    currentround.innerText = {{iteration}};

    // Update phase name and background color for "Deciding" phase
    if (phase === 'decision') {
        currenttask.innerText = '> Submit the movie you want using "Selcet this movie" button within 10 seonds.';
        phaseNameElement.innerText = 'Decision';
        phaseNameElement.parentElement.classList.add('bg-danger', 'text-white');
    } else {
        currenttask.innerText = '> Browse the movies in the list and check out their information as you like.';
        phaseNameElement.innerText = phase.charAt(0).toUpperCase() + phase.slice(1);
        phaseNameElement.parentElement.style.backgroundColor = ''; // Reset background color
    }

    // Update time remaining and change color during last 3 seconds
    timeRemainingElement.innerText = timeRemaining > 0 ? timeRemaining : 0;
    if (timeRemaining <= 5 && timeRemaining > 3) {
        timeRemainingElement.style.color = 'orange'; // Change text color to orange
        timeRemainingElement.style.fontWeight = 'bold';
        
    }

    else if (timeRemaining <= 3 && timeRemaining > 0) {
        timeRemainingElement.style.color = 'red'; // Change text color to red
        timeRemainingElement.style.fontWeight = 'bold';

    } else {
        timeRemainingElement.style.color = ''; // Reset text color
        timeRemainingElement.style.fontWeight = 'normal';
    }
    timeRemainingElement.innerText += " seconds";
};

// Event listeners for modal show/hide to track pause time
$('.modal').on('shown.bs.modal', function () {
    pauseStartTime = new Date();  // Set the time when the modal was shown
    isTimerPaused = true;
});

$('.modal').on('hidden.bs.modal', function () {
    if (pauseStartTime) {
        // Calculate the time the modal was open and add it to totalPauseDuration
        totalPauseDuration += new Date() - pauseStartTime;
        pauseStartTime = null;  // Reset the pause start time
    }
    isTimerPaused = false;
});


// Data Submission Script
const sendData = () => {
    // Prepare data
    const data = {
        user_id: {{user_id}},
    interactions: interactionLog,
    session_parameters: {{current_parameters | tojson }},
    start_time: sessionStartTime,
    end_time: new Date().toISOString(),
    recommendations: {{recommendations| tojson}}
    };

//console.log('Sending data:', data);  // Log data before sending

// Send data via AJAX
fetch("{{url_for('submit_data')}}",{
    method: 'POST',
    headers: {
        'Content-Type': 'application/json',
        'Accept': 'application/json'
    },
    body: JSON.stringify(data)
})
    .then(response => {

        //console.log('Server response:', response);  // Log server response
        if (response.ok) {
            return response.json();  // Parse the JSON response


        } else {
            throw new Error('Server error');
        }
    })
    .catch(error => {
        console.error('Error:', error);  // Log any errors
        alert('An error occurred while submitting data.');
    });

};

        $('.modal').on('shown.bs.modal', function () {
            // Pause the timer when the modal is shown
            //console.log('down- time is paused');
            isTimerPaused = true;

            $("#recoms").css("filter", "blur(5px)");

        });
        
        $('.modal').on('hidden.bs.modal', function () {
            // Resume the timer when the modal is closed
            //console.log('down- time restarts');
            isTimerPaused = false;
            $("#recoms").css("filter", "none");
            
        });




    </script>
</body>

</html>